*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a0cffa;
}
header{
    background-color: #ca91fc;
    height: 80px;
    width: 100%;
    position: fixed;
}
h1{
    color: #0080FF;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    background-image: url(image/Logo_位置參考.svg);
    background-size: cover;
    background-position: center;
    width: 210px;
    text-indent: -99999999px;
}

header ul{
    position:absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a{
    color: 	#E6E6F2;
    text-decoration: none;
}
header a:hover{
    color: #6F00D2;
    text-decoration: underline;
}

.news{
    background-color: #E6E6F2;
    color: #b4d8fa;
    height: 95vh;
    background-image: url(image/111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news h2{
    font-size: 60px;
    margin-top: 60px;
}

.news p{
    color: #000000;
    font-size: 18px;
    margin: 25px 0;
}

.news a{
    color: azure;
    text-emphasis: none;
    border: 1px solid #b4d8fa;
    padding: 10px 20px;
    border-radius: 5px;
}

.slogan{
    background-color: #025ab3;
    color: #86c4fd;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}

footer{
    background-color: #000000;
    color: #b4d8fa;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.shop{
    display: flex;
}

.shop img{
    width: 50%;
}

.info{
    width: 50%;
    background-color: #cde3f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}

.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.infe p{
    text-align: center;
    line-height: 2em;
}

.product{
    display: flex;
    justify-content: space-between;
    background-color: #cde3f8;
    align-items: center;
    padding: 100px 180px 80px;
}

.product div{
    width: 300px;
    text-align: center;
}

.product img{
    width: 100%;
    border-radius: 10px;
}

.product h3{
    font-size: 20px;
    margin: 20px 0;
}

.product p{
    font-size: 14px;
    line-height: 1.6em;
}